resource_group_name  = "rg-relayworks-tfstate"
storage_account_name = "replacewithuniquestateaccount"
container_name       = "tfstate"
key                  = "relayworks/dev.tfstate"
use_azuread_auth     = true
