subscription_id          = "00000000-0000-0000-0000-000000000000"
tenant_id                = "00000000-0000-0000-0000-000000000000"
sql_entra_admin_login    = "RelayWorks Terraform Administrators"
sql_entra_admin_object_id = "00000000-0000-0000-0000-000000000000"
control_plane_image      = "example.azurecr.io/relayworks-control:iteration-2"
sync_worker_image        = "example.azurecr.io/relayworks-worker:iteration-2"
control_plane_api_client_id = "00000000-0000-0000-0000-000000000000"
control_plane_api_identifier_uri = "api://00000000-0000-0000-0000-000000000000"
console_client_id           = "00000000-0000-0000-0000-000000000000"
alert_email                 = "relayworks-operations@example.com"
budget_contact_emails       = ["relayworks-operations@example.com"]
connector_max_concurrency   = 2
connector_requests_per_second = 5
connector_burst_capacity    = 5
archive_enabled             = true
archive_dry_run             = true
