subscription_id          = "00000000-0000-0000-0000-000000000000"
tenant_id                = "00000000-0000-0000-0000-000000000000"
sql_entra_admin_login    = "RelayWorks Terraform Administrators"
sql_entra_admin_object_id = "00000000-0000-0000-0000-000000000000"
control_plane_image      = "example.azurecr.io/relayworks-control:iteration-2"
sync_worker_image        = "example.azurecr.io/relayworks-worker:iteration-2"
